---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { aboutData } from './data/about.astro'

const { title, description, lang, alternates } = aboutData
---
<BaseLayout lang={lang} title={title} description={description} alternates={alternates}>
    <h1>{title}</h1>

    <section>
    <h2>Moi</h2>
    <p>Je suis un papa qui vit à Brest et qui développe en Freelance pour la startup nation. Je télétravaille pour le moment uniquement avec des clients Français mais pourquoi pas un jour à l'international ?</p>
    </section>

    <section>
    <h2>Career</h2>
    <ul>
        <li>Hoggo</li>
        <li>Trustpair</li>
        <li>Seyna</li>
        <li>BlaBlaCar</li>
    </ul>
    </section>

    <section>
    <h2>Projects</h2>
    <p>Kallosophia est mon premier projet personnel: un quiz autour de la thématique Musée qui a l'ambition d'apporter de la beauté et du savoir de manière ludique à ses utilisateurs petits et grands.</p>
    </section>
</BaseLayout>
