---
import ThemeSwitcher from '@/components/ThemeSwitcher';
import PageLayout from '@/layouts/PageLayout.astro';
import type { PageDataType } from '@/types/page';
import { settings } from './data/settings.astro';

const { title, description, lang, alternates } = settings.data as PageDataType;
---

<PageLayout {title} {description} {lang} {alternates}>
  <h1>{title}</h1>
  <ul>
    <ThemeSwitcher
      labels={{
        theme: 'Theme',
        color: 'Color',
        light: 'Light',
        dark: 'Dark',
      }}
      client:load
    />
  </ul>

  <div class="secret-content-taunt">
    <a href={`/${lang}/secret`} class="button"> Essaye ? </a>{' '}
    <span style="margin-left: 0.2rem">de débloquer le contenu secret...</span>
  </div>
</PageLayout>
