---
import ThemeSwitcher from '@/components/ThemeSwitcher';
import PageLayout from '@/layouts/PageLayout.astro';
import type { PageDataType } from '@/types/page';
import { settings } from './data/settings.astro';

const { title, description, lang, alternates } = settings.data as PageDataType;
---

<PageLayout {title} {description} {lang} {alternates}>
  <div class="center-container">
    <h1>{title}</h1>
    <ThemeSwitcher
      {lang}
      labels={{
        theme: 'Theme',
        color: 'Color',
        light: 'Light',
        dark: 'Dark',
      }}
      client:load
    />
  </div>
</PageLayout>
