---
import PageLayout from '@/layouts/PageLayout.astro';
import { contact } from './data/contact.astro';
import type{ PageDataType } from '@/types/page';

const { title, description, lang, alternates } = contact.data as PageDataType
---

<PageLayout {title} {description} {lang} {alternates}>
  <h1>{title}</h1>
  <ul>
    <li><a href="mailto:tarek@seemlesscode.com">tarek@seemlesscode.com</a></li>
    <li><a href="https://github.com/seemlesscode" target="_blank">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/tarek-dinkespiler/" target="_blank">LinkedIn</a></li>
  </ul>
</PageLayout>
