---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { settingsData } from './data/settings.astro';

const { title, description, lang, alternates } = settingsData
---

<BaseLayout title={title} description={description} lang={lang} alternates={alternates}>
  <h1>{title}</h1>
  <ul>
    <li>Langue: <strong>Fr / En</strong> (to be implemented)</li>
    <li>Thème: <strong>Light / Dark / Fun</strong> (to be implemented)</li>
    <li>Couleur principale: <strong>Option 1 / 2 / 3</strong> (to be implemented)</li>
  </ul>
</BaseLayout>
