---
import SEO from "@/components/SEO.astro";
import ThemeClientInit from "@/components/ThemeClientInit";
import Menu from "@/components/Menu.astro";
import "@/styles/global.css";
import "@/styles/page.css";

interface Props {
  lang?: "en" | "fr";
  title?: string;
  description?: string;
  alternates?: Record<string, string>;
  canonical?: string;
}

const {
  lang = "en",
  title = "Seemless Code",
  description = "",
  alternates = {},
  canonical
}: Props = Astro.props;
---

<html lang={lang} data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/init-theme.js" is:inline></script>
    <SEO {title} {description} {lang} {alternates} {canonical} />
  </head>
  <body>
    <ThemeClientInit client:load />
    <main>
      <div class="content">
        <div class="scroll-inner">
          <slot />
        </div>
      </div>
      <div class="menu-wrapper">
        <Menu lang={lang} />
      </div>
    </main>
  </body>
</html>
