---
import SidebarIsland from '@/components/SidebarIsland';
import type { LayoutProps } from '@/types/layout';
import DocumentLayout from './DocumentLayout.astro';

const {
  title = 'Seemless Code',
  description = '',
  alternates = {
    en: '/',
    fr: '/',
  },
  canonical,
}: LayoutProps = Astro.props;

const lang =
  Astro.props.lang ?? (Astro.url.pathname.startsWith('/fr') ? 'fr' : 'en');
---

<DocumentLayout {title} {description} {lang} {alternates} {canonical}>
  <SidebarIsland client:load>
    <slot name="sidebar" />
  </SidebarIsland>

  <main id="main-content">
    <div class="markdown-body">
      <slot name="markdown-title" />
      <slot name="markdown-body" />
    </div>
  </main>
</DocumentLayout>
