---
import type { LayoutProps } from "@/types/layout";
import DocumentLayout from "./DocumentLayout.astro";
import Menu from "@/components/Menu.astro";
import "@/styles/collection.css";
import LangSwitcher from "@/components/LangSwitcher";
import SidebarToggle from "@/components/SidebarToggle";

const {
  title = "Seemless Code",
  description = "",
  alternates = {
    en: "/",
    fr: "/"
  },
  canonical
}: LayoutProps = Astro.props;

const lang = Astro.props.lang ??
  (Astro.url.pathname.startsWith("/fr") ? "fr" : "en");
---

<DocumentLayout {title} {description} {lang} {alternates} {canonical} client:load>
  <div class="header">
    <div class="header-element">
      <LangSwitcher {alternates} client:load />
    </div>
  </div>
  
  <div class="collection-layout">
    <div id="sidebar" class="sidebar">
      <div class="sidebar-header">
        <SidebarToggle client:load />
      </div>
      <div class="sidebar-content">
        <slot name="sidebar"/>
      </div>
    </div>
    
    <main id="main-content">
      <div class="markdown-body">
        <slot name="markdown-title" />
        <slot name="markdown-body" />
      </div>
      
      <div class="footer">
        <div class="menu-wrapper">
          <Menu lang={lang} />
        </div>
      </div>
    </main>
  </div>
</DocumentLayout>