---
import LangClientInit from '@/components/LangClientInit';
import SEO from '@/components/SEO.astro';
import SwipeNavigation from '@/components/SwipeNavigation';
import ThemeClientInit from '@/components/ThemeClientInit';
import type { LayoutProps } from '@/types/layout';
import '@/styles/global.css';
import Konami from '@/components/Konami';
import Menu from '@/components/Menu.astro';

const {
  lang = 'en',
  title = 'Seemless Code',
  description = '',
  alternates = {
    en: '/',
    fr: '/',
  },
  canonical,
}: LayoutProps = Astro.props;
---

<html lang={lang} data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/init-theme.js" is:inline></script>
    <SEO {title} {description} {lang} {alternates} {canonical} />
  </head>
  <body>
    <script>
      (function () {
        try {
          const state = localStorage.getItem('sidebar');
          const shouldOpen = state === 'open' || state === null;
          if (shouldOpen) {
            document.body.classList.add('drawer-open');
          }
        } catch (_) {}
      })();
    </script>
    <LangClientInit client:load />
    <ThemeClientInit client:load />
    <SwipeNavigation lang={lang} client:load />
    <Konami lang={lang} client:load />

    <slot />

    <div class="footer">
      <Menu lang={lang} />
    </div>
  </body>
</html>
