---
import type { LayoutProps } from "@/types/layout";
import SEO from "@/components/SEO.astro";
import LangClientInit from "@/components/LangClientInit";
import ThemeClientInit from "@/components/ThemeClientInit";
import "@/styles/global.css";
import "@/styles/easter-egg.css";

const {
  lang = "en",
  title = "Seemless Code",
  description = "",
  alternates = {
    en: "/",
    fr: "/"
  },
  canonical
}: LayoutProps = Astro.props;

---

<html lang={lang} data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/init-theme.js" is:inline></script>
    <SEO {title} {description} {lang} {alternates} {canonical} />
  </head>
  <body>
    <LangClientInit client:load />
    <ThemeClientInit client:load />

    <slot />

  </body>
</html>
