---
import LangSwitcher from '@/components/LangSwitcher';
import type { LayoutProps } from '@/types/layout';
import DocumentLayout from './DocumentLayout.astro';

const {
  title = 'Seemless Code',
  description = '',
  alternates = {
    en: '/',
    fr: '/',
  },
  canonical,
}: LayoutProps = Astro.props;

const lang =
  Astro.props.lang ?? (Astro.url.pathname.startsWith('/fr') ? 'fr' : 'en');
---

<DocumentLayout {title} {description} {lang} {alternates} {canonical}>
  <div class="header">
    <div class="header-element">
      <LangSwitcher {alternates} client:load />
    </div>
  </div>

  <main>
    <div class="content">
      <slot />
    </div>
  </main>
</DocumentLayout>
