---
import type { LayoutProps } from '@/types/layout';
import DocumentLayout from './DocumentLayout.astro';

const {
  title = 'Seemless Code',
  description = '',
  alternates = {
    en: '/',
    fr: '/',
  },
  canonical,
}: LayoutProps = Astro.props;

const lang =
  Astro.props.lang ?? (Astro.url.pathname.startsWith('/fr') ? 'fr' : 'en');
---

<DocumentLayout {title} {description} {lang} {alternates} {canonical}>
  <main>
    <div class="content">
      <slot />
    </div>
  </main>
</DocumentLayout>
